body {
  color: $bodyTextColor;
  font-family: $openSans;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingColor;
  font-family: $poppins;
  font-weight: 600;
  letter-spacing: 0;
  margin: 0;
}