// Blog section
.post {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  .post-thumbnail {
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
  .post-content {
    padding: 30px;
    background: $white;
  }
  .post-meta {
    display: flex;
    justify-content: flex-start;
    align-items: cener;
    margin-bottom: 15px;
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-family: $poppins;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      i {
        margin-right: 10px;
        color: $themeColorOrange;
      }
    }
  }
  .post-title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .btn {
    margin-top: 10px;
  }
}

// Blog page style
.blog-grid .post {
  margin-bottom: 30px;
}

.post-grid-flat {
  .post {
    box-shadow: none;
  }
  .post-content {
    padding: 30px 0 30px 0;
  }
}

// Pagination style
.page-link {
  padding: 10px 20px;
  color: $bodyTextColor;
  &:hover {
    background: $themeColorOrange;
    color: $white;
    border-color: transparent;
  }
}

.page-item.active .page-link {
  background-color: $themeColorOrange;
  border-color: $themeColorOrange;
}

// Widget style
.single-widget {
  margin-bottom: 30px;
}

.widget-title {
  font-weight: 500;
  border-bottom: 1px solid $themeColorOrange;
  margin-bottom: 25px;
  padding-bottom: 15px;
  letter-spacing: 0;
}

// Search Widget
.search-form {
  position: relative;
  input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid $borderColor;
    border-radius: 3px;
    height: 50px;
    padding: 0 20px;
    width: 100%;
  }
  button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    color: #737272;
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      color: $themeColorOrange;
    }
  }
}

//  Tag widget
.tags {
  a {
    border: 1px solid $borderColor;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: .5px;
    display: inline-block;
    text-transform: capitalize;
    border-radius: 2px;
    margin-right: 3px;
    margin-bottom: 7px;
    &:hover {
      background: $themeColorOrange;
      color: $white;
      border-color: transparent;
    }
  }
}

.post-category-list {
  li {
    a {
      border-bottom: 1px solid $borderColor;
      display: block;
      font-size: 14px;
      height: 40px;
      letter-spacing: 1px;
      line-height: 40px;
      text-transform: capitalize;
    }
    &:last-child {
      a {
        border-bottom: none;
      }
    }
    &:hover {
      a {
        color: $themeColorOrange;
        padding-left: 10px;
      }
    }
  }
  span {
    float: right;
    transition: all 0.3s ease 0s;
  }
}

.recent-post-widget {
  border-bottom: 1px solid $borderColor;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  &:last-child {
    border-bottom: none;
  }
}

.widget-post-thumb {
  img {
    border-radius: 3px;
    width: 100%;
    display: inline-block;
  }
}

.post-widget-content {
  padding-left: 20px;
  h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 0;
  }
  a:hover {
    color: $themeColorOrange;
  }
}

.post-widget-content p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.single-widget:last-child {
  margin-bottom: 0;
}

/* -----------------------------
19. Single post area
-------------------------------- */
.single-post {
  .post {
    box-shadow: none;
    blockquote {
      background-color: $lightGray;
      border: 0 none;
      font-size: 16px;
      font-style: italic;
      line-height: 28px;
      margin: 30px 0;
      padding: 30px;
      border-left: 3px solid $themeColorOrange;
      font-size: 16px;
    }
  }
  .post-content {
    padding: 30px 0 0 0;
  }
  .post-title {
    font-size: 30px;
    line-height: 1.4;
  }
  h4 {
    margin-bottom: 15px;
    font-weight: 500;
  }
}

.post-object-list {
  margin-bottom: 20px;
  padding-left: 20px;
  li {
    font-size: 15px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    &::before {
      // @include wpsuperGradient($themeColorPurpol, $themeColorBlue);
      background: $themeColorOrange;
      content: "";
      height: 8px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      border-radius: 100%;
    }
  }
}

.share-post-wrapper {
  background-color: $lightGray;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 3px;
}

.post-tags {
  span {
    font-weight: 600;
    margin-right: 10px;
  }
  float: left;
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    &:hover {
      color: $themeColorOrange;
    }
  }
  a + a {
    margin-left: 5px;
  }
}

.social-share {
  float: right;
  li {
    span {
      font-weight: 600;
    }
    display: inline-block;
    margin-left: 20px;
    a {
      font-size: 18px;
    }
  }
}

.comments-area {
  margin-top: 50px;
  h4 {
    margin-bottom: 30px;
    letter-spacing: 0;
  }
  .media-list {
    padding-left: 0;
    list-style: none;
  }
  .comment-author {
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .media {
    margin: 0 0 30px;
  }
  .media-body {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 30px;
  }
  .media-left {
    padding-right: 30px;
    img {
      border-radius: 50%;
    }
  }
  .comment-time {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .media-replay .media {
    padding-left: 60px;

  }
}

.comment-action {
  display: flex;
  align-items: center;
  li {
    margin-right: 20px;
    i {
      margin-left: 10px;
    }
  }
}

.comments-area p {
  margin-bottom: 10px;
}

.media-list > .media:last-child {
  border-bottom: 0 none;
}

.comment-form {
  margin-top: 20px;
  h4 {
    margin-bottom: 30px;
  }
  input {
    height: 45px;
    border-radius: 3px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  textarea.form-control {
    height: 250px;
  }
}
  
 