/* -----------------------------
Service area style
-------------------------------- */
.service-section {
  padding: 100px 0;
}

.single-service {
  padding: 40px 30px;
  text-align: center;
  position: relative;
  transition: 0.2s linear;
  z-index: 2;
  .service-content h5 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .service-icon {
    margin-bottom: 25px;
    i {
      font-size: 60px;
      color: $iconGreen;
    }
  }
  &:hover {
    box-shadow: -10px -10px 30px 4px rgba($color: $black, $alpha : .02), 10px 10px 30px 4px rgba($color: $black, $alpha : .01);

  }
}


.col-lg-4:nth-child(2) .service-icon i {
  color: $iconMint;
}

.col-lg-4:nth-child(3) .service-icon i {
  color: $iconPurpole;
}

/* -----------------------------
App features area style
-------------------------------- */
.featurs-style-1 {
  margin-top: 150px;
  &.text-left .app-header h5 {
    float: right;
    padding-left: 10px;
    padding-right: 0;
  }
  &.text-left .app-header i {
    float: left;
  }
}

.single-featur {
  &:nth-child(n + 2) {
    margin-top: 60px;
  }
  &:nth-child(1) {
    .app-header i {
      color: $iconGreen;
    }
  }
  &:nth-child(2) {
    .app-header i {
      color: $iconMint;
    }
  }
  &:nth-child(3) {
    .app-header i {
      color: $iconPurpole;
    }
  }
  .app-header {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .app-header h5 {
    font-size: 18px;
    color: #404040;
    font-weight: 500;
    float: left;
    width: calc(100% - 45px);
    padding-right: 10px;
    text-transform: capitalize;
    line-height: 1.8;
    margin-bottom: 0;
    letter-spacing: 0;
  }
  .app-header i {
    width: 45px;
    float: right;
    font-size: 36px;
    line-height: 1;
  }
  p {
    font-weight: 400;
    margin-bottom: 0;
  }
}

.app-bg {
  display: inline-block;
}

/*Features style 2*/
.single-featur-style-2 {
  display: flex;
  align-items: center;
  + .single-featur-style-2 {
    margin-top: 30px;
  }
  &:hover {
    .featur-icon {
      box-shadow: 0px 12px 35px rgba($color: $themeColorBlue, $alpha: .3);
    }
  }
  .featur-icon {
    @include wpsuperGradient($themeColorOrange, $themeColorYellow);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 7px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s linear 0s;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    i {
      font-size: 36px;
      line-height: 100px;
      text-align: center;
      color: $white;
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: 10px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include wpsuperGradient($themeColorPurpol, $themeColorBlue);
      transform: translateX(-10px) scale(.95);
      z-index: -1;
      opacity: 0;
    }
  }
  .featur-content {
    padding-left: 35px;
    padding-right: 30px;
    h5 {
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 1.8;
    }
    p {
      margin-bottom: 0;
    }
  }
  &:hover {
    .featur-icon {
      &::before {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
    }
  }
}
//Block text
.block-text {
  h2 {
    margin-bottom: 30px;
    line-height: 1.4;
  }
  p {
    margin-bottom: 40px;
    font-size: 16px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}