/* ----------------------------------------------------
   10. Testimonial style
------------------------------------------------------- */
.testimonial-wrapper {
  background: $white;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 29, 0.08);
  padding: 50px 100px;
  border-radius: 3px;
  .slick-prev,
  .slick-next {
    top: 0;
  }
  .slick-next {
    right: -80px;
  }
  .slick-prev {
    left: -80px;
  }
  &:hover .slick-slider .slick-prev,
  &:hover .slick-slider .slick-next {
    opacity: 1;
    visibility: visible;
  }
}

.testimonial-images {
  width: 350px;
  margin: auto;
  margin-bottom: 50px;
  img {
    border-radius: 100%;
    transform: scale(.7);
    opacity: .5;
    width: 100%;
  }
  .slick-current + div {
    img {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.testimonial-content {
  color: $black;
  text-align: center;
  line-height: 26px;
  .single-testimonial-content {
    margin-bottom: 30px;
    .testimonial-meta {
      margin-bottom: 10px;
      h4 {
        font-weight: 600;
        font-size: 18px;
        display: block;
      }
      p {
        font-size: 12px;
        font-style: italic;
        display: block;
        text-transform: uppercase;
        color: $themeColorOrange;
      }
    }
    p {
      font-size: 16px;
      opacity: 0.7;
    }
  }
}

.slick-dots {
  margin: 0;
  bottom: 0;
  li {
    margin: 0;
    button {
      padding: 0;
      height: 0;
    }
    button::before {
      font-size: 30px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: .30;
      color: $black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: .3s;
    }
    button:hover::before,
    button:focus::before,
    &.slick-active button:before {
      opacity: 1;
      color: $themeColorOrange;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  @include wpsuperGradient($themeColorOrange, $themeColorYellow);
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 3px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}
.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 1;
  visibility: visible;
}
.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  font-weight: bold;
  color: $white;
}

.slick-next {
  right: 30px;
}
.slick-prev {
  left: 30px;
}
.single-brand {
  padding: 0 20px;
  text-align: center;
  img {
    display: inline-block;
    width: auto;
    cursor: pointer;
  }
}